html {
	height: 100%;
}
body {
    background-image: url("https://pre00.deviantart.net/a314/th/pre/f/2011/221/b/1/harry_potter_logos_wallpaper_by_jontylerthe27th-d45y2up.jpg");
	background-position: center center;
	background-size: cover;
}

h1 {    color: black;
	text-align: center;
}
p {
	color: black;
	text-align: center;
}
	
h3 {   color: black;
}
p {    color: black;
       text-align: left;
}
